html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.date-description {
  display: inline-block;
  margin-left: 2em; }

.events {
  padding-left: 0; }

#dates-list {
  padding-top: 150px; }

.post {
  position: relative;
  margin: 1.5em auto;
  padding: 10px 20px;
  max-width: 40%;
  min-width: 250px;
  background: #f8f8f8;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  width: auto;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.2); }

.calendar {
  display: inline-block;
  padding-top: 5px;
  width: 80px;
  background: #ededef;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
  background: -moz-linear-gradient(top, #ededef, #ccc);
  font: bold 30px/60px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  text-shadow: #fff 0 1px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  box-shadow: 0 2px 2px #888; }

.calendar em {
  display: block;
  font: 12px/30px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: #00365a 0 -1px 0;
  background: #04599a;
  background: -webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
  background: -moz-linear-gradient(top, #04599a, #00365a);
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #00365a; }

.calendar:before,
.calendar:after {
  content: '';
  float: left;
  position: absolute;
  top: 5px;
  width: 8px;
  height: 8px;
  background: #111;
  z-index: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px #fff;
  -webkit-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff; }

.calendar:before {
  left: 11px; }

.calendar:after {
  right: 11px; }

.calendar em:before,
.calendar em:after {
  content: '';
  float: left;
  position: absolute;
  top: -5px;
  width: 4px;
  height: 14px;
  background: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
  background: -moz-linear-gradient(top, #f1f1f1, #aaa);
  z-index: 2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.calendar em:before {
  left: 13px; }

.calendar em:after {
  right: 13px; }

.expander {
  width: 60%;
  margin: 0 auto; }
  .expander .expander-trigger {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #DDD;
    color: #477DCA;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 50%;
    padding-bottom: 0.25em;
    text-decoration: none; }
    .expander .expander-trigger:before {
      font-size: 0.7em;
      content: "\25BC";
      margin-right: 0.5em; }
  .expander .expander-content p {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    line-height: 1.5em; }
  .expander .expander-hidden:before {
    font-size: 0.7em;
    content: "\25BA"; }
  .expander .expander-hidden + .expander-content {
    display: none; }

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 26.65%;
  position: relative; }
  .video-wrapper embed,
  .video-wrapper object,
  .video-wrapper iframe {
    max-height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; }

.price-heading {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.tables {
  border-collapse: separate;
  border-left: 0px;
  border-radius: 3px;
  border-spacing: 0;
  border: 1px solid gainsboro;
  max-width: 65%;
  margin: 3em auto 14em;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
  .tables tbody {
    background-color: #fbfbfb; }
    .tables tbody tr:hover > td,
    .tables tbody tr:hover > th {
      background-color: #eeeeee; }
    .tables tbody tr:nth-child(even) {
      background-color: #f6f6f6; }
      .tables tbody tr:nth-child(even):hover > td {
        background-color: #e9e9e9; }
  .tables thead:first-of-type tr:first-child > th:first-child {
    border-top-left-radius: 3px; }
  .tables thead:first-of-type tr:first-child > th:last-child {
    border-top-right-radius: 3px; }
  .tables tbody:last-child tr:last-child > td:first-child {
    border-bottom-left-radius: 3px; }
  .tables tbody:last-child tr:last-child > td:last-child {
    border-bottom-right-radius: 3px; }
  .tables thead th {
    background-color: white;
    border-bottom: 0px;
    border-left: 1px solid gainsboro;
    padding: 0.75em 1em;
    text-align: left; }
    .tables thead th:first-child {
      border-left: none; }
  .tables tbody {
    background-color: #fbfbfb; }
    .tables tbody td {
      border-bottom: 0px;
      border-left: 1px solid gainsboro;
      border-top: 1px solid gainsboro;
      padding: 0.75em 1em; }
      .tables tbody td:first-child {
        border-left: none; }

/*# sourceMappingURL=main.css.map */
