<section class="" id="-list">
  <h1 id="prices" class="price-heading">Lesson prices</h1>
  <hr class="projectsHr">
  <table class="tables">
    <thead>
      <tr>
        <th>Full Hour</th>
        <th>Half Hour</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>30.- €</td>
        <td>20.- €</td>
      </tr>
      <tr>
        <td>Transport fee</td>
        <td>Transport fee</td>
      </tr>
      <tr>
        <td>5.- €</td>
        <td>5.- €</td>
      </tr>
    </tbody>
  </table>
  </li>
  </ul>
  <script src="js/expander.js"></script>
</section>
